import sqlite3
import os
from models.db_config import DB_PATH

def migrate():
    conn = sqlite3.connect(DB_PATH)
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS {{ table_name }} (
            {{ cols_str }}
        )
    ''')
    conn.commit()
    conn.close()
    print(f"Migration {{ migration_name }} complete.")

if __name__ == "__main__":
    migrate()
