from models.{{ class_name }} import {{ class_name }}
from services.BaseService import BaseService

class {{ class_name }}Service(BaseService):
    def __init__(self):
        super().__init__({{ class_name }})
